@font-face {
    font-family: Audiowide;
    src: url(fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: Orbitron;
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: Chakrapetch;
    src: url(fonts/ChakraPetch-Regular.ttf);
}


/*ALL PAGES*/

header{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    background-color: grey;
}

body{
    margin: 0px 200px;
    background-image: linear-gradient(to bottom, hsl(0, 1%, 19%), rgb(7, 7, 7));
    /* background-image: radial-gradient(circle at top left, rgb(78, 172, 122), rgb(23, 15, 130)); */

}


.navbar{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 30px;
    display: block;
    text-align: center;

}

.navbar li{
    
    float: left;
    overflow: hidden;
    font-size: large;
    font-family: Audiowide;
}

.navbar a:hover{
    background-color: grey;
    /*More effects i want to add later:
        font increase size animation;*/
}


.section-header{
    margin-top: 75px;
    font-size: larger;
    font-family: Orbitron;
    color: white;
}

.paragraph-text{
    font-family: Chakrapetch;
    padding: 17px;
    display: inline-block;
    max-height: 200px;
    overflow: auto;
    background-color: rgb(86, 86, 86);
    border-radius: 0.5rem;
    color: white;
}

/*ABOUT ME*/

.about-me-header{
    color: white;
    font-family: Orbitron;
    font-size: larger;
    margin-top: 75px;
}

.about-me-container{
    display: flex;
    margin-top: 100px;
}

.about-me-container img{
    max-width: 300px;
    max-height: 200px;
    border-radius: 3rem;
    margin: 0px 50px;
}



.about-me-interests-bubble-container{
    margin-top: 50px;
    color:white;
}

.interests-paragraph-container{
    margin-top: 50px;
    color:white
}



/*  PORTFOLIO PAGE*/



.portfolio-summary-container{
    margin-top: 75px;
}

.project-summary-container{
    margin-top: 75px;
    display: flex;
}

.project-summary-container img{
    margin: 0px 50px;
    border-radius: 1rem;
    /*TODO: add hover event: enlarge image, glow, dilate size, link to project*/
}


/* QUALIFICATIONS PAGE*/


.qualifications-summary-container{
    margin-top: 75px;
}

