@font-face {
  font-family: Audiowide;
  src: url(fonts/Audiowide-Regular.ttf);
}

@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
  font-family: Chakrapetch;
  src: url(fonts/ChakraPetch-Regular.ttf);
}

/*ALL PAGES*/

/* header {
  max-height: 200px;
  background-color: grey;
} */

body {
  /* background-image: linear-gradient(to bottom, hsl(0, 1%, 19%), rgb(7, 7, 7)); */
  /* background-image: radial-gradient(circle at top left, rgb(78, 172, 122), rgb(23, 15, 130)); */
  background-image: radial-gradient(
    circle at top left,
    rgb(78, 172, 122),
    rgb(101, 11, 161),
    rgb(10, 166, 187)
  );
}
main {
  border-radius: 1rem;
  padding: 40px;
  margin: 0px 120px;
  background-image: linear-gradient(to bottom, hsl(0, 1%, 19%), rgb(7, 7, 7));
  /* background-image: radial-gradient(circle at top left, rgb(78, 172, 122), rgb(23, 15, 130)); */
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  background-color: black;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 30px;
  display: block;
  text-align: center;
}

.navbar li {
  float: left;
  overflow: hidden;
  font-size: large;
  font-family: Audiowide;
}

.navbar a:hover {
  background-color: grey;
  /*More effects i want to add later:
        font increase size animation;*/
}

.section-header {
  margin-top: 75px;
  font-size: larger;
  font-family: Orbitron;
  color: white;
  user-select: none;
}

.paragraph-text {
  font-family: Chakrapetch;
  padding: 17px;
  display: inline-block;
  max-height: 250px;
  overflow: auto;
  background-color: rgb(86, 86, 86);
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

/*ABOUT ME*/

.about-me-header {
  color: white;
  font-family: Orbitron;
  font-size: larger;
  margin-top: 75px;
}

.about-me-container {
  display: flex;
  margin-top: 100px;
}

.about-me-container img {
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  border: 3px solid #ccc;
  margin: 0px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.about-me-interests-bubble-container {
  display: block;
  margin-top: 50px;
  color: white;
}
/* .about-me-interests-bubble-container img{
  width: 50px;
  height: 50px;
  filter: invert(1);
} */

.interests-paragraph-container {
  margin-top: 50px;
  color: white;
}

/*  PORTFOLIO PAGE*/

.portfolio-summary-container {
  margin-top: 20px;
  padding: 0px 100px;
}

.portfolio-project-summary-container {
  margin-top: 75px;
  display: flex;
}

.portfolio-project-summary-container img {
  margin: 0px 50px;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  user-select: none;
  /*TODO: add hover event: enlarge image, glow, dilate size, link to project*/
}

.project-summary-container img:hover {
  cursor: pointer;
}

.portfolio-project-video{
   margin: 0px 50px;
}

/* QUALIFICATIONS PAGE*/

.qualifications-header {
  overflow: hidden;
  margin: 0 auto;
  max-width: fit-content;
  max-height: 200px;
  background-color: gray;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.qualifications-header img:hover {
  cursor: pointer;
  /*TODO: enlarge image and download as csv */
}

.qualifications-technical-skills-container {
  user-select: none;
}
.qualifications-technical-skills-container img {
  margin-top: 100px;
  padding: 15px;
  width: 50px;
  height: 50px;
  filter: invert(1);
  user-select: none;
}

.qualifications-summary-container {
  margin-top: 20px;
  padding: 0px 100px;
}

.qualifications-interests-container {
  padding: 0px 100px;
}

/* SERVICE*/

.service-community-service-intro {
  margin-top: 20px;
  padding: 0px 100px;
}

.service-content-container {
  margin: 60px 50px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  overflow: hidden;
}

.service-content-container p {
  padding: 40px 40px;
  height: fit-content;
  overflow: auto;
}

.service-content-container a {
  text-decoration: none;
  color: aqua;
}
.service-content-container a:hover {
  text-decoration: underline;
  text-decoration-color: hsl(180, 100%, 50%);
  color: hsl(180, 100%, 50%);
}

.service-content-container img {
  width: 300px;
  height: 300px;
  margin-right: 30px;
  user-select: none;
  object-fit: cover;
  border-radius: 2rem;
  border: 3px solid #ccc;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 5);
}
